html {
  display: flex;
  /*背景图片*/
  margin: 0; /*移除默认边距*/
  height: 100vh; /*设置为窗口高度*/
  background-image: url("../images/registration.png"); /*设置图片为当前目录的image.pen*/
  background-size: cover; /*使图片覆盖整个html元素*/
  background-position: center; /*居中图片*/
  background-repeat: no-repeat; /*禁止图片重复*/
  background-color: #ffffff;
}

html {
  /*字体*/
  p {
    font-family: "STXIHEI", sans-serif; /*首选字体,备选字体*/
    margin-bottom: 0px;
    margin-top: 0px;
  }

  h1 {
    font-family: "STXIHEI", sans-serif;
  }
}

/*导航栏*/
#head {
  display: flex;
  button {
    background-color: #eeeeee;
    border: none;
    color: #252525;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin-right: 10px;
    box-shadow: 2px 2px 15px #ffffffc6;
  }
}

#bar {
  display: flex;
  margin-left: 20px;
}

#bar_end {
  button {
    padding-left: 20px;
    padding-right: 20px;
  }
  display: flex;
  position: absolute;
  right: 20px;
}

/*文字样式*/
#text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60%;
  color: #131313;
  border: 2px solid #ffffff;
  margin-left: 50px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 1px 1px 15px #ffffc6;
  background-color: #eeeeee;
}
/*下方按钮*/
#download_btn {
  background-color: #0f0f0f;
  border: none;
  color: #eeeeee;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 15px #000000c6;
  margin-top: 20px;
  padding-right: 92px;
  padding-left: 92px;
}
